@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

/* --------------------------------APP------------------------------------------------------------------------------------------------------------------- */
.app {
  /* this is weighted around 400; use for titles */
  font-family: 'Montserrat', sans-serif;
}

.small {
  font-size: 65%;
}

.medium {
  font-size: medium;
}

.large {
  font-size: large;
  font-weight: 600;
}
/* check to see that css is working */
.cssCheck {
  background-color: blue;

}

/* --------------------------------Example---------------------------------------------------------------------------------------------------------------- */
.container {
  width: 100%;
  height: 100vh;
  background: yellow;
  display: grid;
  grid-template-rows: 80px 600px 80px;
  grid-template-columns: 0.5fr 1fr;

}

/* no more float hacks!!!  it's a 2D grid baby, common sense for the win! */
/* Use CSS Grid for layout */
/* Use flexbox for alignment within each row or column */

/* This achieves source order independence... i.e css grid is independent of the order of the html code, this separation makes for cleaner HTML markup
and more flexibility when it comes to moving items around.  Write content, make it pretty later.
CSS grid and flexbox allows the dev to make HTML into what it was supposed to be.  Markup of content.  Not visuals, which belong to CSS. */

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: green;

}

.main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: pink;
}

.footer {
  grid-column: span 12;
}

.products {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background: chartreuse;
}

/* --------------------------------Product Overview Styles------------------------------------------------------------------------------------------------ */
#product-details {
  display: grid;
  grid-template-columns: 5% 625px 5% 600px 5%;
  grid-template-rows: 10% 33% 250px auto 25%;
}

#product-info {
  margin: 50px;
  grid-row: 2;
  grid-column: 4;
  align-self: end;
}

#product-desc {
  grid-row: 5;
  grid-column: 2;
  margin: 50px;
}
.carousel-container {
  grid-row: 2 / span 3;
  grid-column: 2 / span 3;
}

#add-to-cart {
  grid-column: 4;
  grid-row: 4;
  top: 50%
}

#share-bar {
  text-align: right;
  grid-column: 2;
  grid-row: 5;
}

#style-selector {
  margin-left: 50px;
  grid-column: 4;
  grid-row: 3;
}
#style-selector-list {
  height: 160px;
  padding: 10px;
}
.style-selector-item {
  width: 80px;
  height: 80px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  border: 1px #d3d3d3 solid;
  margin: 10px;
}

.selected-style {
  border: 4px #35ae39 solid;
  -webkit-filter: drop-shadow(2px 4px 6px black);
  filter: drop-shadow(2px 4px 6px black);
}

.selected-check {
  width: 40px;
  height: 40px;
  position: absolute;

}

#sale-price {
  color: red;
}

#old-price {
  text-decoration: line-through;
}

.add-to-cart-input {
  padding: 10px;
  width: 200px;
  margin: 25px;
  text-align: center;
}

.loading-div {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

/* QA Styling */

.QA-Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  border-radius: 3%;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
};

.QA-ModalError {
  color: red;
};



/* --------------------------------Ratings and Reviews--------------------------------------------------------------------------------------------------- */
/* see bottom of cascade for top level div elements */

/* --------------------------------Ratings--------------------------------------------------------------------------------------------------- */

/* --------------------------------Ratings Summary--------------------------------------------------------------------------------------------------- */
.ratingsSummaryContainer {
  display: flex;
  flex-direction: row;
  /* grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end; */
  /* justify-content: d; */
  /* padding: 10px; */
}

.MuiRating-iconFilled {
  color: black;
}

.MuiRating-icon {
  /* display borders on stars */
  height: -5%;
  width: -5%;
}

.average {
  font-size: 50px;
  font-weight: 700;
}

.ratingsSummary {
  padding-top: 10px;
}

/* --------------------------------Ratings Breakdown ---------------------------------------------------------------------------------------------------- */

.starLabel {
  text-decoration: underline;

}

.recommendedPer {
  width: 300px;
  font-size: 85%;
}

.ratingsBreakdown {
  margin-top: 20px;
}
/* --------------------------------Product Breakdown ---------------------------------------------------------------------------------------------------- */
.MuiSlider-root {
  /* height: 400;
  display: inline-block; */
  width: 263px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.MuiSlider-rail {
  display: inline-block;
  height: 8px !important;
  background: linear-gradient(to right,
   grey 32%, white 32% 33%, grey 33% 65%, white 65% 66%,
   grey 66%);

}

.chMeaning {
  display: flex;
  /* flex-direction: row;
  justify-content: space-between; */
  width: 258px;
  /* font-size: 60%; */

}

.meaning {
  /* manually setting the flex box % of flex container width! */
  flex: 0 0 33%;
  /* border: solid 1px blue; */
  text-align: center;

}

.l {
  text-align: left;
}

.r {
  text-align: right;
}

.characteristics {
  font-size: 85%;
  /* margin-top: 8px; */
}

.breakdown {
  margin-bottom: 15px;
}

.productBreakdown {
  margin-top: 20px;
}
/* --------------------------------Reviews--------------------------------------------------------------------------------------------------- */

/* --------------------------------Review--------------------------------------------------------------------------------------------------- */

.review {
  /* margin-bottom: 50px; */
  border-bottom: solid 1px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}

.tileStarContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.summary {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.reviewThumbnails {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}
.reviewImg {
  height: 50px;
  width: 50px;
  border: 1px solid #ddd; /* Gray border */
  border-radius: 25%;  /* Rounded border */
  padding: 2px; /* Some padding */
  /* border-radius: 50%; */

}
.reviewImg:hover {
  box-shadow: 0 0 4px 4px rgba(6, 39, 131, 0.5);
  cursor: pointer;
}

.showImg {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  left: 25%;
  top: 25%;
  width: 55%; /* Full width */
  height: 55%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  border-radius: 8%;
}

.closeThumbnail {
  position: absolute;
  top: 10px;
  right: 30px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1;
}
.closeThumbnail:hover {
  cursor: pointer;
}

.reviewBottom {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.reviewBottomUnderline {
  text-decoration: underline;
  margin-left: 4px;
  margin-right: 4px;
}

.reviewBottomUnderline:hover {
  box-shadow: 0 0 4px 4px rgba(6, 39, 131, 0.5);
  cursor: pointer;
}

.response {


  padding: 10px;
   /* align-content: space-between; for flexing in a column */
  background-color: rgb(228, 228, 228);

}

.rContent {
  margin-bottom: 5px;
  font-weight: 500;
}
/* .body {
  margin-top: 15px;
}

.helpful {
  margin-top: 15px;

} */

/* --------------------------------Top level div grid organization--------------------------------------------------------------------------------------------------- */
.RR {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 40px;

}

.ratings {

  margin-left: 30px;

  /* grid-column: 1 / 2;
  grid-row: 1 / 4;
  justify-self: end;
  display: inline-block */
  /* display: flex;
  flex-direction: row; */
}

.reviews {
  margin-left: 30px;
  margin-right: 30px;
}

  /* grid-column: 2 / 3;
  grid-row: 1 / 3; */

